
<ion-view cache-view="false">

  <ion-content class="no-header login" scroll="false">

    <div class="roll_content">

      <div class="roll_top_wrap">
        <div class="top_wrap">
          <div class="login_top">
            <img src="img/timeattendanceapp04.png" alt="" />
          </div>

        </div>
      </div>

      <div class="roll_bottom_wrap">
        <div class="roll_bottom_wrap_inner">
          <div class="login_c_wrap">

            <div class="login_content">
              <div class="login_item">
                <div class="login_item_left">
                  <div  class="login_item_left_inner"><img src="img/timeattendanceapp13.png" alt=""/></div>
                </div>
                <div class="login_item_right"><input tabindex="-1" type="text" ng-focus="setErrorMessageEmpty()" ng-keyup="doLoginName($event);" name="username" id="username" ng-model="user.username" placeholder="姓名" /> </div>
              </div>

              <div class="login_item top_line mt-10">
                <div class="login_item_left">
                  <div  class="login_item_left_inner"><img class="bottom_img" src="img/timeattendanceapp14.png" alt=""/></div>
                </div>
                <div class="login_item_right"><input tabindex="-1" type="password"  ng-focus="setErrorMessageEmpty()" ng-keyup="doLogin($event);" name="password" id="password" ng-model="user.pwd" placeholder="密码" /> </div>
              </div>
            </div>
            <div class="error-message" ng-show="errorMessage!=''">* <span class="error_message" ng-bind="errorMessage"></span></div>

            <div class="login_btn_wrap">
              <div class="login_btn_s txt-center">
                <button ng-click="login();" class="login_btn login_btn_red fontWD">登&nbsp;&nbsp;录</button>
              </div>
              <div class="edit_pwd_btn forgetpassword">
                <button class="login_btn login_btn_grey fontWD" ng-click="goChangePwd();">修改密码</button>
              </div>

            </div>



          </div>

          <div class="login_bottom">
            <span class="bottom_content">版权所有:吉林艺术学院</span>
            <span class="bottom_content">JILIN UNIVERSITY OF ARTS</span>

          </div>
        </div>

      </div>

    </div>
  </ion-content>

</ion-view>
