
<ion-view cache-view="false">

  <ion-content class="no-header login" scroll="false">

    <div id="roll_content_status" class="roll_content_c">



      <div class="roll_content_wrap xsmall">
        <div class="roll_bottom_wrap_inner roll_page_sign_state">

          <div class="roll_page_c_t_wrap">
            <div class="roll_page_c_t_wrap_inner">


              <div class="search_name_wrap">
                <div class="search_name_wrap_inner">
                  <div class="search_name_btn">
                    <img src="img/timeattendanceapp33.png" alt="" />
                  </div>
                  <input type="text" class="search_name_input" ng-model="searchObj.searchTxt" placeholder="按姓名检索">
                </div>
              </div>
              <div class="status_items_wrap">

                <div class="left_text">按状态选择</div>
                <div class="status_items_wrap_inner">

                  <ul class="status_items clearfix">
                    <li class="status_item" ng-click="changeCurrentStatus(1)">
                      <img src="img/timeattendanceapp34.png" alt="" />
                    </li>
                    <li class="status_item" ng-click="changeCurrentStatus(2)">
                      <img src="img/timeattendanceapp35.png" alt="" />
                    </li>
                    <li class="status_item" ng-click="changeCurrentStatus(3)">
                      <img src="img/timeattendanceapp36.png" alt="" />
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>

          <div class="roll_page_c_b_wrap">
            <div class="roll_page_c_b_wrap_inner">
              <button class="btn btn-large btn_primary" ng-click="goResult();">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
            </div>

          </div>


          <div  ng-nicescroll nice-option="{cursorcolor:'#d5d5d5',cursorborder:'1px solid transparent', cursorwidth:'9px', autohidemode:false}" class="sign_state_list">

            <div ng-if="currentTabType=='2'">

              <div class="no_data no_cd_data" ng-if="dataLoaded &&(cdList.length==0|| searchResult.cdListHasResult===0)"><div class="no_data_inner">没有数据</div></div>
              <ul class="detail_l_c cd_items clearfix">
                <li class="detail_l_li" ng-repeat="stu in cdList | studentListFilter: searchObj.searchTxt"  on-finish-render-filters>
                  <div class="detail_card" ng-click="goDetailPage(ckey, stu.studentID);">
                    <div class="detail_card_inner"><div class="detail_card_cell">{{stu.stuName}}</div></div>


                  </div>
                </li>

              </ul>
            </div>

            <div ng-if="currentTabType=='1'">
              <div class="no_data no_zd_data" ng-if="dataLoaded && (zdList.length==0||searchResult.zdListHasResult===0)"><div class="no_data_inner">没有数据</div></div>
              <ul class="detail_l_c zd_items clearfix">
                <li class="detail_l_li" ng-repeat="stu in zdList | studentListFilter: searchObj.searchTxt"  on-finish-render-filters>
                  <div class="detail_card" ng-click="goDetailPage(ckey, stu.studentID);">
                    <div class="detail_card_inner"><div class="detail_card_cell">{{stu.stuName}}</div></div>


                  </div>
                </li>

              </ul>
            </div>

            <div ng-if="currentTabType=='3'">
              <div class="no_data no_kk_data"  ng-if="dataLoaded && (kkList.length==0||searchResult.kkListHasResult===0)"><div class="no_data_inner">没有数据</div></div>
              <ul class="detail_l_c kk_items clearfix">
                <li class="detail_l_li" ng-repeat="stu in kkList | studentListFilter: searchObj.searchTxt"  on-finish-render-filters>
                  <div class="detail_card" ng-click="goDetailPage(ckey, stu.studentID);">
                    <div class="detail_card_inner"><div class="detail_card_cell">{{stu.stuName}}</div></div>


                  </div>
                </li>

              </ul>
            </div>



          </div>

        </div>


      </div>

    </div>

    </div>
  </ion-content>

</ion-view>
