
<ion-view cache-view="false">

  <ion-content class="no-header login" scroll="false">

    <div class="roll_content_c">



      <div class="roll_content_wrap">
        <div class="roll_bottom_wrap_inner">
          <div class="sign_page_content">
            <div class="call_person_list">

              <div class="person_item">
                <div class="person_wrap">
                  <div class="first_circle"></div>
                  <div class="second_circle"></div>
                  <div class="bg_circle">
                  </div>

                  <div id="person_name_list" class="person_name">
                    <div class="person_name_inner" ng-repeat="stu in students">
                      <div  class="person_Number">{{stu.studentNumber}}</div>
                      <div  class="person_name2"  style="z-index: 999">{{stu.stuName}}</div>
                    </div>


                  </div>

                  <div class="empty_circle">
                    <img src="img/round_empty.png" alt="" />
                  </div>
                </div>

                <div class="controll_btn controll_btn_left" ng-hide="isFirstItem" ng-click="prevStudent();">
                  <img src="img/timeattendanceapp31.png" alt="" />
                </div>
                <div class="controll_btn controll_btn_right"  ng-hide="isLastItem" ng-click="nextStudent();">
                  <img src="img/timeattendanceapp32.png" alt="" />
                </div>
              </div>


            </div>
            <div class="sign_buttons row">

              <div class="text-center person_desc">
                <span>已阅</span><span class="person_num">{{passSignNum}}</span><span>人, 未阅</span><span class="person_num">{{students.length - passSignNum}}</span><span>人</span>
              </div>
              <!--<div class="left_btn_wap col-50">-->
                <!--<div class="left_btn_wap_inner btn_warp signYes" ng-class="{true: 'active', false: ''}[currentVal==1]" ng-click="setSign(1);">-->
                  <!--<img src="./img/rollcallapp-39.png" alt="" />-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="right_btn_wap col-50">-->
                <!--<div class="right_btn_wap_inner btn_warp signNo" ng-class="{true: 'active', false: ''}[currentVal==2]"  ng-click="setSign(2)">-->
                  <!--<img src="./img/rollcallapp-40.png" alt="" />-->
                <!--</div>-->
              <!--</div>-->


            </div>
          </div>


          <div class="sign_bottom_wrap">

            <div class="sign_bottom_wrap_inner">

              <div ng-if="currentVal!=0" class="sign_btn sign_btn_a" ng-click="setSign(0);">
                <img src="img/timeattendanceapp37.png" alt="" />
              </div>
              <div ng-if="currentVal==0" class="sign_btn sign_btn_a">
                <img src="img/timeattendanceapp37_selected.png" alt="" />
              </div>
              <div ng-if="currentVal!=2" class="sign_btn sign_btn_b" ng-click="setSign(2);">
                <img src="img/timeattendanceapp38.png" alt="" />
              </div>
              <div ng-if="currentVal==2" class="sign_btn sign_btn_b">
                <img src="img/timeattendanceapp38_selected.png" alt="" />
              </div>

            </div>

          </div>
        </div>

      </div>

    </div>
  </ion-content>

</ion-view>
